<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.phonegap.example"
        versionCode="10" 
        version   = "1.0.0">

    <!-- versionCode is optional and Android only -->

    <name>Pensée du jour</name>

    <description>
        Ecrivez votre pensée du jour et découvrez les tendances de la communauté.
    </description>

    <author href="www.timbreos.com" email="quentin.laurent@timbreos.com">
        Quentin LAURENY 
    </author>
    <access origin="http://127.0.0.1*"/>
    <access origin="*" />

</widget>